.toolbox {
  height: 158px;
  width: 100vw;
  border-top: 8px solid #eee;
  background-color: #fafafa;
  padding: 8px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.toolbox-head {
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}

.circuit {
  padding-left: 16px;
  overflow-x: auto;
  height: calc(100vh - 158px);
}

.slot.highlight:before {
  border: 8px solid #c6e2b3;
}

.highlight > .gate {
  border: 8px solid #c6e2b3;
}

.wire {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}

.wire:before {
  content: '';
  position: absolute;
  top: 40px;
  left: 62px;
  border-top: 8px solid #eee;
  background: black;
  width: 900px;
  transform: translateY(-50%);
  z-index: -1;
}

.slot:before {
  content: '';
  position: absolute;
  top: 32px;
  left: 80px;
  border-radius: 8px;
  border: 8px solid #eee;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.slot {
  width: 180px;
  height: 50px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.gate {
  border-radius: 32px;
  font-size: 32px;
  background-color: #fafafa;
  border: 8px solid #eee;
  min-width: 128px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 8px;
}

.gate.h {
  background-color: #fff3b5;
}

.gate.x {
  background-color: #ff857f;
}

.gate.cx {
  background-color: #a48def;
}

.gate.cx.before:before {
  content: '';
  position: absolute;
  top: -48px;
  left: 80px;
  border-radius: 8px;
  border: 8px solid #eee;
  width: 8px;
  height: 64px;
  z-index: -1;
}

.gate.cx.after:before {
  content: '';
  position: absolute;
  top: 64px;
  left: 80px;
  border-radius: 8px;
  border: 8px solid #eee;
  width: 8px;
  height: 64px;
  z-index: -1;
}

.highlight > .gate.cx:before {
  border: 8px solid #c6e2b3;
}

.one-tall {
  padding: 12px;
  height: 64px;
}

.two-tall {
  padding: 48px 12px 48px 12px;
  height: 128px;
  top: 32px;
  margin-bottom: -64px;
  position: relative;
}

.absolute-position {
  position: absolute;
}
