<!DOCTYPE html>
<html>
<head>
  <title>Making Quantum Computing Accessible - conQuer</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/semantic-ui-css@2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://unpkg.com/dragula@3.7.2/dist/dragula.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  </head>
  <link rel="stylesheet" href="conquer.css">
</head>
<body>

  <div id="conquer">
    <div class="circuit" id="circuit" :style="circuitStyle">
      <div class="wire" v-for="(row, rIndex) in transposedOperations" :id="'wire-' + rIndex">
        <div class="one-tall gate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" v-on:click="if (step == -1) {wireStatesBoolean[rIndex] = !wireStatesBoolean[rIndex]; $forceUpdate();}">q{{ rIndex }} |{{ wireStatesBoolean[rIndex] ? '1' : '0' }}&#10217;</div>
        <div class="slot" v-if="cIndex < moments - 1" v-for="(col, cIndex) in row" :class="{highlight: step == cIndex}" :moment="cIndex" :row="rIndex" :gate="operations[cIndex][rIndex]"></div>
        <div class="one-tall gate qubit-peek" :class="{highlight: step == moments - 1}" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">q{{ rIndex }} P(1)={{ probabilities[rIndex].toFixed(2) }}</div>
      </div>
    </div>

    <div class="toolbox" id="toolbox">
      <div class="row" style="margin-top: -64px; margin-bottom: 32px;">
        <div class="column">
          <button class="ui labeled icon button" v-on:click="simulateBackward()">
            <i class="left arrow icon"></i>
            BACKWARD
          </button>
          <button class="ui right labeled icon button" v-on:click="simulateForward()">
            FORWARD
            <i class="right arrow icon"></i>
          </button>
        </div>
      </div>
      <div class="toolbox-head">GATES</div>
      <div class="one-tall h gate" gate="H">H</div>
      <div class="one-tall gate" gate="ID">ID</div>
      <div class="one-tall x gate" gate="X">NOT</div>
      <div class="one-tall x gate" gate="Y">Y</div>
      <div class="one-tall x gate" gate="Z">Z</div>
      <div class="one-tall cx gate" gate="cX">CNOT</div>
      <!--<div class="one-tall gate" gate="measure">Measure</div>-->
      <div class="toolbox-head" style="cursor: pointer; text-decoration: underline;" @click="$('#about-modal').modal('show');">ABOUT</div>
    </div>
    <div class="ui popup" gate="H">
      <span v-html="katex.H"></span>
    </div>
    <div class="ui popup" gate="ID">
      <span v-html="katex.ID"></span>
    </div>
    <div class="ui popup" gate="X">
      <span v-html="katex.X"></span>
    </div>
    <div class="ui popup" gate="Y">
      <span v-html="katex.Y"></span>
    </div>
    <div class="ui popup" gate="Z">
      <span v-html="katex.Z"></span>
    </div>
    <div class="ui popup" gate="cX">
      <span v-html="katex.cX"></span>
    </div>
  </div>


  <div class="ui modal" id="about-modal">
    <i class="close icon"></i>
    <div class="header">
      About
    </div>
    <div class="content">
      <div class="description">
        <div class="ui header">Simulated quantum computing environment.</div>
        <p>conQuer is a stand-alone quantum computer circuit playground designed to help people interested in quantum computing to gain practical experience with quantum logic.</p>
        <div class="ui header">Attributions</div>
        <p>conQuer includes the following open source projects:</p>
        <ul>
          <li>semantic-ui</li>
          <li>dragula</li>
          <li>vue.js</li>
          <li>jQuery</li>
          <li>math.js</li>
          <li>KATEX</li>
        </ul>
      </div>
    </div>
    <div class="actions">
      <div class="ui deny button">
        Close
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/mathjs@5.4.2/dist/math.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.4/dist/vue.min.js"></script>
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/semantic-ui-css@2.4.1/semantic.min.js"></script>
  <script src="https://unpkg.com/dragula@3.7.2/dist/dragula.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
  <script src="duq.js"></script>
  <script src="conquer.js"></script>

</body>
</html>