<!DOCTYPE html>
<html>
<head>
  <title>Making Quantum Computing Accessible - conQuer</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/semantic-ui-css@2.4.1/semantic.min.css">
  <link rel="stylesheet" href="conquer.css">
</head>
<body>

  <div id="conquer">
    <div class="ui equal width grid container">
      <div class="row">
        <div class="column">
          <div class="ui input"><input type="text" v-model="wires"></div>
          <span>&#215;</span>
          <div class="ui input"><input type="text" v-model="moments"></div>
        </div>
      </div>
      <div class="row">
        <div class="column" v-for="(column, cIndex) in operations">
          <div v-for="(operation, oIndex) in column">
            <select class="ui dropdown" v-model="operations[cIndex][oIndex]">
              <option v-for="(value, key) in GATES">{{ key }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <button class="ui labeled icon button" v-on:click="simulateBackward()">
            <i class="left arrow icon"></i>
            Backward
          </button>
          <button class="ui right labeled icon button" v-on:click="simulateForward()">
            Forward
            <i class="right arrow icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/mathjs@5.4.2/dist/math.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.4/dist/vue.min.js"></script>
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/semantic-ui-css@2.4.1/semantic.min.js"></script>
  <script src="duq.js"></script>
  <script src="conquer.js"></script>
</body>
</html>