<!DOCTYPE html>
<html>
<head>
  <title>Making Quantum Computing Accessible - conQuer</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/semantic-ui-css@2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://unpkg.com/dragula@3.7.2/dist/dragula.min.css">
  <link rel="stylesheet" href="conquer.css">
</head>
<body>

  <div id="conquer">
    <!--<div class="ui equal width grid container">
      <div class="row">
        <div class="column">
          <div class="ui buttons">
            <button class="ui button" v-on:click="wires -= 1">&minus;</button>
            <button class="ui disabled button">{{ wires }}</button>
            <button class="ui button" v-on:click="wires += 1">&plus;</button>
          </div>
          <span>&#215;</span>
          <div class="ui buttons">
              <button class="ui button" v-on:click="moments -= 1">&minus;</button>
              <button class="ui disabled button">{{ moments }}</button>
              <button class="ui button" v-on:click="moments += 1">&plus;</button>
            </div>
        </div>
        <span>{{ step }}</span>
      </div>

      <div class="row" v-for="(row, rIndex) in transposedOperations">
        <div class="column">
          <div class="ui checkbox">
            <input type="checkbox" v-model="wireStatesBoolean[rIndex]">
            <label>|{{ wireStatesBoolean[rIndex] ? '1' : '0' }}&#10217;</label>
          </div>
        </div>
        <div class="column" v-for="(col, cIndex) in row">
          <select class="ui dropdown" v-model="operations[cIndex][rIndex]">
            <option v-for="(value, key) in GATES">{{ key }}</option>
          </select>
        </div>
      </div>
    </div>-->
    <!--<div class="ui equal width grid container">

      <div class="row" v-for="(row, rIndex) in transposedOperations">
        <div class="column">
          <div class="ui checkbox">
            <input type="checkbox" v-model="wireStatesBoolean[rIndex]">
            <label>|{{ wireStatesBoolean[rIndex] ? '1' : '0' }}&#10217;</label>
          </div>
        </div>
        <div class="column" v-for="(col, cIndex) in row">
          <select class="ui dropdown" v-model="operations[cIndex][rIndex]">
            <option v-for="(value, key) in GATES">{{ key }}</option>
          </select>
        </div>
      </div>
    </div>-->
    <div class="circuit" id="circuit" :style="circuitStyle">
      <div class="wire" v-for="(row, rIndex) in transposedOperations" :id="'wire-' + rIndex">
        <div class="one-tall gate" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">q{{ rIndex }} |{{ wireStatesBoolean[rIndex] ? '1' : '0' }}&#10217;</div>
        <div class="slot" v-for="(col, cIndex) in row" :class="{highlight: step == cIndex}" :moment="cIndex" :row="rIndex" :gate="operations[cIndex][rIndex]"></div>
      </div>
      <div class="row">
        <div class="column">
          <button class="ui labeled icon button" v-on:click="simulateBackward()">
            <i class="left arrow icon"></i>
            Backward
          </button>
          <button class="ui right labeled icon button" v-on:click="simulateForward()">
            Forward
            <i class="right arrow icon"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="toolbox" id="toolbox">
      <div class="toolbox-head">GATES</div>
      <div class="one-tall h gate" gate="H">H</div>
      <div class="one-tall gate" gate="ID">ID</div>
      <div class="one-tall x gate" gate="X">NOT</div>
      <div class="one-tall cx gate" gate="cX">CNOT</div>
      <!--<div class="one-tall gate" gate="measure">Measure</div>-->
    </div>
  </div>

  <script src="https://unpkg.com/mathjs@5.4.2/dist/math.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.4/dist/vue.min.js"></script>
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/semantic-ui-css@2.4.1/semantic.min.js"></script>
  <script src="https://unpkg.com/dragula@3.7.2/dist/dragula.min.js"></script>
  <script src="duq.js"></script>
  <script src="conquer.js"></script>
</body>
</html>